body {
  background: url("../img/brick.png");
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden; }

* {
  font-family: 'Press Start 2P';
  font-size: 0.98em; }

h1 {
  font-family: 'Press Start 2P';
  font-size: 28px; }

.btn {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

input {
  font-size: 14px;
  max-width: 100%;
  overflow: hidden; }

.panel-section {
  border-radius: 2px;
  background-color: #fff;
  padding-bottom: 20px;
  margin-bottom: 30px;
  overflow: hidden; }

.group-card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #3A3A3A;
  display: inline-block;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #3A3A3A; }

.browse-section {
  padding: 0; }

.game-link {
  font-size: 24px; }
  @media (max-width: 500px) {
    .game-link {
      font-size: 18px; } }

.group-info-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #3A3A3A; }
  .group-info-container .user-created {
    color: #2F84EA; }
  .group-info-container .player-info, .group-info-container .about-group, .group-info-container .contact-info {
    margin-bottom: 80px; }

.group-form {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #3A3A3A;
  width: 100%; }
  .group-form input {
    font-size: 10px;
    height: 7%; }
  .group-form select {
    font-size: 10px;
    overflow: hidden;
    height: 7%;
    max-width: 100%; }
  .group-form .disabled-input {
    background-color: #DADADA; }
  .group-form p {
    padding-top: 15px; }
  .group-form p, .group-form h3 small {
    color: #BD0009; }
  .group-form textarea {
    width: 40%;
    height: 15%; }
  .group-form #start-group {
    position: relative;
    bottom: 10px; }

.create-btn {
  width: 50%;
  white-space: initial;
  margin-top: 30px; }

.search-box {
  margin: 20px auto;
  line-height: 25px; }

.browse-section {
  margin: 10.5em 0;
  padding: 0 5%;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }
  @media only screen and (min-width: 415px) {
    .browse-section {
      padding: 0 10%;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2; } }
  @media only screen and (min-width: 785px) {
    .browse-section {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3; } }
  @media only screen and (min-width: 1100px) {
    .browse-section .browse-section .group-card .card-title {
      font-size: 2px;
      display: none; } }

#map {
  height: 350px;
  margin-bottom: 30px; }

.panel-default {
  max-width: 50%;
  padding: 3%; }
