<h2>This is create</h2>

<h2>Select a game</h2>
<select ng-model="selectedGame" ng-disabled="enterCustomGame" ng-options="game.displayName for game in games | orderBy: 'displayName'">
	
</select>

<span>
	<input type="checkbox" ng-model="enterCustomGame" ng-change="clearSelectedGame()">
	Enter custom game
</span>
<div ng-show="enterCustomGame">
	<h3>Don't see your game? Enter it here</h3>
	<input placeholder="Enter custom game..." ng-model="selectedGame" ng-required="enterCustomGame">	

</div>
<br><br>
<h3>How should players get a hold of you?</h3>
<label name="phoneNumber">Phone Number (optional)</label>
<br> 
<input type="text" name="phoneNumber" ng-model="phoneNumber" placeholder="Enter your phone number...">
<br><br>
<label name="email">Email (optional)</label>
<br>
<input type="text" name="email" ng-model="email" placeholder="Enter your email..." ng-model="email">

<h3>Additional Information</h3>
<textarea placeholder="Provide additional details about your game/group. Where are you playing? How long do you plan to play? How many players are you looking for?" ng-model="additionalInfo"></textarea>
<button id="startGroup" ng-click="startGroup()"><a ui-sref="groupCreated">Start Group</a></button>
<br><br><br>
<button><a ui-sref="browse">Browse</a></button>
<button><a ui-sref="home">Home</a></button>


